body {
    background-color: #fff5c5;
    font:"Fire sans", sans-serif;
}

h1 {
    color: darkblue;
    font-size: 36px;
}/*GU:Troque a cor*/

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #ff0000;
  color: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.content {
  height: 2000px; /* sรณ para ter scroll */
}

