body {
    margin: 0px;
    background-color: #fff5c5;
    font:"Fire sans", sans-serif;
}

h1 {
    color: darkblue;
    font-size: 36px;
}/*GU:Troque a cor*/

header {
    transition: top 0.3s ease;
    color: #333;
    background: #333;
    right: 0px;
    left: 0px;
    top: 0px;
    position: fixed;
    text-align: center;
    padding: 15px;
    z-index: 1000px;
}

.content {
    margin-top:70px;
    padding: 20px;
}


